body {
  background-color: #0f0f0f;
  color: white;
  scroll-behavior: smooth;
}

/* Secciones */
.section {
  padding: 100px 0;
}

.alt {
  background-color: #161616;
}

/* Navbar glass */
.glass {
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
}

/* Hero */
.hero {
  height: 100vh;
}

.highlight {
  color: #0d6efd;
}

/* Botones más suaves */
.hero .btn {
  padding: 10px 20px;
  border-radius: 30px;
}

/* Cards */
.card {
  border: none;
  border-radius: 15px;
}

/* Hover efecto */
.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

/* Fix navbar */
section {
  scroll-margin-top: 80px;
}

.contact-icon {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* Colores base */
.github {
  color: #ffffff;
  background-color: #181717;
}

.linkedin {
  color: white;
  background-color: #0A66C2;
}

.email {
  color: white;
  background-color: #EA4335;
}

.whatsapp {
  color: white;
  background-color: #25D366;
}

/* Hover pro */

.whatsapp:hover {
  box-shadow: 0 0 20px rgba(37, 211, 102, 0.6);
}

.contact-icon:hover {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

.github:hover {
  box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

.linkedin:hover {
  box-shadow: 0 0 20px rgba(10,102,194,0.6);
}

.email:hover {
  box-shadow: 0 0 20px rgba(234,67,53,0.6);
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.project-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  object-position: top;
}

/* Overlay */
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.8);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.4s;
}

/* Hover */
.project-card:hover img {
  transform: scale(1.1);
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.project-overlay .badge {
  margin: 2px;
}

.tech-stack {
  color: #b0b0b0; /* gris más visible */
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.tech-badges .badge {
  margin: 3px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.75rem;
}

/* Colores por tecnología */
.php {
  background-color: #777BB4;
}

.html {
  background-color: #E34F26;
}

.css {
  background-color: #1572B6;
}

.js {
  background-color: #F7DF1E;
  color: black;
}

.mysql {
  background-color: #4479A1;
}

.bootstrap {
  background-color: #7952B3;
}

.skills-soft .badge {
  margin: 5px;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
}

.perfil-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #0d6efd;
}

#sobre p {
  margin-bottom: 12px;
  line-height: 1.6;
}