body {
  background-color: #0f0f0f;
  color: white;
  scroll-behavior: smooth;
}

/* Secciones */
.section {
  padding: 100px 0;
}

.alt {
  background-color: #161616;
}

/* Navbar glass */
.glass {
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
}

/* Hero */
.hero {
  height: 100vh;
}

/* Cards */
.card {
  border: none;
  border-radius: 15px;
}

/* Hover efecto */
.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

/* Fix navbar */
section {
  scroll-margin-top: 80px;
}

.contact-icon {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* Colores base */
.github {
  color: #ffffff;
  background-color: #181717;
}

.linkedin {
  color: white;
  background-color: #0A66C2;
}

.email {
  color: white;
  background-color: #EA4335;
}

.whatsapp {
  color: white;
  background-color: #25D366;
}

/* Hover pro */

.whatsapp:hover {
  box-shadow: 0 0 20px rgba(37, 211, 102, 0.6);
}

.contact-icon:hover {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

.github:hover {
  box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

.linkedin:hover {
  box-shadow: 0 0 20px rgba(10,102,194,0.6);
}

.email:hover {
  box-shadow: 0 0 20px rgba(234,67,53,0.6);
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.project-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* Overlay */
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.8);
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.4s;
}

/* Hover */
.project-card:hover img {
  transform: scale(1.1);
}

.project-card:hover .project-overlay {
  opacity: 1;
}